<main>
  <section class="background-threads custom-bg">
    <div class="container">
      <a href="#"><span>Explore All Countries</span></a>
      <h1>{{ country?.commonName }}</h1>
    </div>
  </section>
  <section class="content">
    <div class="holidays">
      <div class="holidays-title">
        <h2>Upcomming Holidays</h2>
        <p-calendar
          [(ngModel)]="selectedYear"
          [iconDisplay]="'input'"
          [showIcon]="true"
          view="year"
          dateFormat="yy"
          [minDate]="minDate"
          [maxDate]="maxDate"
          (onSelect)="onYearSelect()"
          yearNavigator="true"
          yearRange="2020:2030"
          [placeholder]="selectedYear.getFullYear().toString()"
          inputId="icondisplay" />
      </div>

      <ul class="holidays-list">
        @for (holiday of publicHolidays; track holiday) {
          <li class="holidays-list-item">
            <span class="holidays-list-item-name">
              {{ holiday.name }}
              <span class="holidays-list-item-name-local">
                {{ holiday.localName }}
              </span>
            </span>
            <span class="holidays-list-item-date">
              {{ holiday.date }}
            </span>

            <span class="holidays-list-item-type">
              {{ holiday.types[0] }}
            </span>
          </li>
        }
      </ul>
    </div>
  </section>
</main>
